*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Arial', sans-serif;
    background-color: goldenrod;
    display: flex;
    justify-content: center;
    padding-top: 200px;
}

.card{
    background-color: #fff;
    width: 400px;
    padding: 22px 30px;
    border-radius: 5px;
    line-height: 1.8;
}


#ch{
    display: none;
}

#ch:checked ~ .content{
    display: block;
}

#ch:checked ~ .label{
    display: none;

}
.content{
    display: none;
    font-size: small;
}

.content ~ .img{
    width: 5px;
    height: 5px;
}

label{
    display: inline-block;
    cursor:pointer;
    color:#fff;
    background-color: goldenrod;
    padding: 3px 13px;
    margin-top: 12px;
}