*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    list-style: none;
}
body{
    background: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 10vw;
    text-align: center;
    margin-top: 20px;
    color: #333;
}

.contenu{
    flex: 1 0 auto;
}

.contenu p{
    padding: 5vw 10vw;
    text-align: justify;
}

footer{
    flex-shrink: 0;
    border-top: 1px dashed #000;
    width: 100%;
    background: #f1f1f1;
    color: #333;
}

.contenu-footer{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    padding: 50px 0 100px;
}

.bloc{
    width: 25%;
    margin: 0 30px;
}

.footer-Informations h3,
 .footer-Avantages h3, 
 .footer-Contacts h3 a, 
 .footer-RéseauxSsociaux h3{
    font-size: 25px;
    padding-bottom: 20px;
}

.footer-Contacts ul li{
    list-style-type: none;
}

.liste-services,
.liste-Avantages,
.liste-RéseauxSociaux,
.liste-Contacts{
    list-style-type: none;
    padding: 5px 0;
}

.liste-services li{
    padding: 2px 0;
}

.liste-services a{
    text-decoration: none;
    color: #333;
}

.liste-services a:hover{
    color: rgb(3,3,3);

}

.liste-RéseauxSociaux img{
    width: 40px;
    margin: 10px 10px;
}

.liste-RéseauxSociaux a{
    text-decoration: none;
    color: #333;
    display: flex ;
    align-items: center;
    font-size: 25px;
}

img{
    width: 20px;
}

.footer-bottom{
    padding: top;
    margin-bottom: 25px;
    padding-bottom: 25px;
}
.icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3vw;
}