body{
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.wrapper{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.wrapper p{
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    margin: 15px 0;
}

.text-area{
    font-size: 50px;
    font-family: roboto;
    text-transform: uppercase;
    font-weight: bold;
}

.text-area span{
    color: goldenrod;
    opacity: 0;
    transform: rotate(-180deg) translate(150px, 0);
    animation: animate 5s forwards;
    display: inline-block;
}

.text-area span:nth-of-type(2){
    animation-delay: .1s;
}

.text-area span:nth-of-type(3){
    animation-delay: .2s;
}

.text-area span:nth-of-type(4){
    animation-delay: .3s;
}

.text-area span:nth-of-type(5){
    animation-delay: .4s;
}

.text-area span:nth-of-type(6){
    animation-delay: .5s;
}

.text-area span:nth-of-type(7){
    animation-delay: .6s;
}

.text-area span:nth-of-type(8){
    animation-delay: .7s;
}

.text-area span:nth-of-type(9){
    animation-delay: .8s;
}

.text-area span:nth-of-type(10){
    animation-delay: .9s;
}

@keyframes animate{
    30%{
        transform: translate(0, -50px) rotate(180deg) scale(1);
    }
    50%{
        transform: translate(0, 20px) rotate(0deg) scale(1);
        opacity: 1;
    }
    80%{
        transform: translate(-100px, -100px) rotate(-180deg) scale(1.5);
        opacity: 0;
    }
    100%{
        transform: translate(0) rotate(0deg) scale(1);
        opacity: 1;
    }
}

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Arial', sans-serif;
}

.header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    padding: 35px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .50s ease;
}

.navlist{
    display: flex;
}

.navlist a{
    display: inline-block;
    margin: 0 35px;
    color:#fff;
    font-size: 16px;
    font-weight: 600;
    transition: all .50s ease;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex:1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li:after{
    content:'';
    width:0%;
    height: 5px;
    background: goldenrod;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    font-size: 62px;
}

.text-box p{
    margin: 10px 0px 40px;
    font-size: 14px;
    color: #fff;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border:  solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid goldenrod;
    background: goldenrod;
    transition: 1s;
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: gold;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
    }
}
.dropdown_menu{
    display: none;
    position: absolute;
    left:0;
    top: 100%;
    background-color: var(--color-black);
}
.dropdown_menu ul{
    display: block;
    margin: 10px;
}
.dropdown_menu ul li{
    width: 150px;
    padding: 10px;
}

*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    list-style: none;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 10vw;
    text-align: center;
    margin-top: 20px;
    color: goldenrod;
}

.contenu{
    flex: 1 0 auto;
}

.contenu p{
    padding: 5vw 10vw;
    text-align: justify;
}

footer{
    flex-shrink: 0;
    border-top: 1px dashed #000;
    width: 100%;
    background: #f1f1f1;
    color: #333;
}

.contenu-footer{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    padding: 50px 0 100px;
}

.bloc{
    width: 25%;
    margin: 0 30px;
}

.footer-Informations h3,
 .footer-Avantages h3, 
 .footer-Contacts h3 a, 
 .footer-RéseauxSsociaux h3{
    font-size: 25px;
    padding-bottom: 20px;
}

.footer-Contacts ul li{
    list-style-type: none;
}

.liste-services,
.liste-Avantages,
.liste-RéseauxSociaux,
.liste-Contacts{
    list-style-type: none;
    padding: 5px 0;
}

.liste-services li{
    padding: 2px 0;
}

.liste-services a{
    text-decoration: none;
    color: #333;
}

.liste-services a:hover{
    color: rgb(3,3,3);

}

.liste-RéseauxSociaux img{
    width: 40px;
    margin: 10px 10px;
}

.liste-RéseauxSociaux a{
    text-decoration: none;
    color: #333;
    display: flex ;
    align-items: center;
    font-size: 25px;
}

img{
    width: 20px;
}

.footer-bottom{
    padding: top;
    margin-bottom: 25px;
    padding-bottom: 25px;
}
.icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3vw;
}

.footer-bottom{
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}